*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* Header */

header{
    min-height: 50px;
    background-color: black;
}



.flex-container{
    display: flex;
    justify-content: end;
    padding-top: 5px;

}


header h5{
    color: white;
    background-color: grey;
    border-radius: 5px;
    margin-right: 5px;
}



h5:first-child{
    height: 20px;
    width: 80px;
    text-align: center;
}



h5:last-child{
    width: 15px;
    text-align: center;
}







/* Main */

main{
    background-color: black;
}



.box-main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

}


main img{
    width: 140px;
    margin-right: 5px;
}

main i{
    position: absolute;
    background-color: rgb(168,168,168,0.5);
    color: white;
}


.boximg1{

}



.position{
    left:0 ;
    top: 77px;

}


main div{
    position: relative;
}




i > h6{
    display: inline-block;
    margin-left: 10px;
}