*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}


/* Header */

header{
    min-height: 50px;
    background-color: black;
}



.flex-container{
    display: flex;
    justify-content: end;
    padding-top: 5px;

}


header h5{
    color: white;
    background-color: grey;
    border-radius: 5px;
    margin-right: 5px;
}



h5:first-child{
    height: 20px;
    width: 80px;
    text-align: center;
}



h5:last-child{
    width: 15px;
    text-align: center;
}







/* Main */

main{
    background-color: black;
}



.box-main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

}


main img{
    width: 140px;
    margin-right: 5px;
}

main i{
    position: absolute;
    background-color: rgb(168,168,168,0.5);
    color: white;
}


.boximg1{

}



.position{
    left:0 ;
    top: 77px;

}


main div{
    position: relative;
}




i > h6{
    display: inline-block;
    margin-left: 10px;
}



/* Footer*/


.box-footer{
    min-height: 70px;
    background-color: #222222;
    margin-top: 60px;
    
}




.flex-container2{
    display: flex;
    flex-direction: row;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
}


.box-footer1{
    display: flex;
}


.box-footer1 > div{
    width: 50px;
    text-align: center;
    color: white;
}


.box-footer2{
    display: flex;
    background-color: #4a4a4a;
    height: 70px;
    width: 100px;
    align-items: center;
}

.box-footer2 > div{
    text-align: center;
    width: 100px;
    color: red;
}


.color{
    color: green;
}
